In [39]:
import pandas as pd
import numpy as np
import altair as alt

In [40]:
def tab_reader(filepathpattern,tabnum,skiprow,low_memory=False):
    tabs = []
    for i in range (tabnum):
        cur_index = i+1
        cur_filepath = filepathpattern.format(cur_index)
        try:
            tab = pd.read_csv(cur_filepath, skiprows=skiprow, low_memory=False)
        except:
            tab = pd.read_csv(cur_filepath, skiprows=skiprow, encoding='latin-1', low_memory=low_memory)
        tabs.append(tab)
    return tabs

In [41]:
# 2017 data
rcbp_2017_mb_revenue_Tabs = tab_reader("../../data/2017_csv_eng/2017_Medium businesses_Total revenue based_csv/_2017_Eng_Medium_Revenue_Tab{}.csv",5,5)
rcbp_2017_sb_revenue_Tabs = tab_reader("../../data/2017_csv_eng/2017_Small businesses_Total revenue based_csv/_2017_Small businesses_Total revenue based_Tab{}.csv",7,5)
rcbp_2017_sb_revenue_Tabs[0] = tab_reader("../../data/2017_csv_eng/2017_Small businesses_Total revenue based_csv/_2017_Small businesses_Total revenue based_Tab{}.csv",1,6)[0]

In [42]:
# 2018 data
rcbp_2018_mb_revenue_Tabs = tab_reader("../../data/2018_csv_eng/2018_Medium businesses_Total revenue based_csv/_2018_Medium businesses_Total revenue_Tab{}.csv",5,5)
rcbp_2018_sb_revenue_Tabs = tab_reader("../../data/2018_csv_eng/2018_Small businesses_Total revenue based_csv/_2018_Small businesses_Total revenue_Tab{}.csv",7,5)
rcbp_2018_sb_revenue_Tabs[0] = tab_reader("../../data/2018_csv_eng/2018_Small businesses_Total revenue based_csv/_2018_Small businesses_Total revenue_Tab{}.csv",1,6)[0]

In [43]:
# 2019 data
rcbp_2019_mb_revenue_Tabs = tab_reader("../../data/2019_csv_eng/2019_Medium businesses_Total revenue_csv/_2019_Medium businesses_Total revenue_Tab{}.csv",5,5)
rcbp_2019_sb_revenue_Tabs = tab_reader("../../data/2019_csv_eng/2019_Small businesses_Total revenue_csv/_2019_Small businesses_Total revenue_Tab{}.csv",7,5)
rcbp_2019_sb_revenue_Tabs[0] = tab_reader("../../data/2019_csv_eng/2019_Small businesses_Total revenue_csv/_2019_Small businesses_Total revenue_Tab{}.csv",1,6)[0]

## Data Wrangling

### 1. Drop the first NAN row, drop quartile columns, select all industry code level and concat different years

In [44]:
# Drop the first NaN row, select all industry code level, drop quartile columns and concat different years
def selectData(tabs):
    concatTabs = []
    for tab in tabs:
        tab = tab.drop(0)
        cols_without_quartile = [x for x in tab.columns if 'quartile' not in x.lower() and 'reporting' not in x.lower()]
        tab = tab[cols_without_quartile]
        concatTabs.append(tab)
    return pd.concat(concatTabs)

In [45]:
## medium tab1-tab5 3year contain All industry(code=0)
mb_revenue_tab1_3y = selectData([rcbp_2017_mb_revenue_Tabs[0], rcbp_2018_mb_revenue_Tabs[0], rcbp_2019_mb_revenue_Tabs[0]]).reset_index(drop=True)
mb_revenue_tab2_3y = selectData([rcbp_2017_mb_revenue_Tabs[1], rcbp_2018_mb_revenue_Tabs[1], rcbp_2019_mb_revenue_Tabs[1]]).reset_index(drop=True)
mb_revenue_tab3_3y = selectData([rcbp_2017_mb_revenue_Tabs[2], rcbp_2018_mb_revenue_Tabs[2], rcbp_2019_mb_revenue_Tabs[2]]).reset_index(drop=True)
mb_revenue_tab4_3y = selectData([rcbp_2017_mb_revenue_Tabs[3], rcbp_2018_mb_revenue_Tabs[3], rcbp_2019_mb_revenue_Tabs[3]]).reset_index(drop=True)
mb_revenue_tab5_3y = selectData([rcbp_2017_mb_revenue_Tabs[4], rcbp_2018_mb_revenue_Tabs[4], rcbp_2019_mb_revenue_Tabs[4]]).reset_index(drop=True)

## small tab1-tab7 3year contain All industry
sb_revenue_tab1_3y = selectData([rcbp_2017_sb_revenue_Tabs[0], rcbp_2018_sb_revenue_Tabs[0], rcbp_2019_sb_revenue_Tabs[0]]).reset_index(drop=True)
sb_revenue_tab2_3y = selectData([rcbp_2017_sb_revenue_Tabs[1], rcbp_2018_sb_revenue_Tabs[1], rcbp_2019_sb_revenue_Tabs[1]]).reset_index(drop=True)
sb_revenue_tab3_3y = selectData([rcbp_2017_sb_revenue_Tabs[2], rcbp_2018_sb_revenue_Tabs[2], rcbp_2019_sb_revenue_Tabs[2]]).reset_index(drop=True)
sb_revenue_tab4_3y = selectData([rcbp_2017_sb_revenue_Tabs[3], rcbp_2018_sb_revenue_Tabs[3], rcbp_2019_sb_revenue_Tabs[3]]).reset_index(drop=True)
sb_revenue_tab5_3y = selectData([rcbp_2017_sb_revenue_Tabs[4], rcbp_2018_sb_revenue_Tabs[4], rcbp_2019_sb_revenue_Tabs[4]]).reset_index(drop=True)
sb_revenue_tab6_3y = selectData([rcbp_2017_sb_revenue_Tabs[5], rcbp_2018_sb_revenue_Tabs[5], rcbp_2019_sb_revenue_Tabs[5]]).reset_index(drop=True)
sb_revenue_tab7_3y = selectData([rcbp_2017_sb_revenue_Tabs[6], rcbp_2018_sb_revenue_Tabs[6], rcbp_2019_sb_revenue_Tabs[6]]).reset_index(drop=True)

### 2. Select Columns, Drop irrelevant columns

#### 2.1 Medium Businesses

In [46]:
mb_tab1_left_col = ['North American Industry Classification System, NAICS - code', 'North American Industry Classification System, NAICS',
                        'Location indicator - code', 'Location indicator', 'Reference year', 
                        'Total number of businesses', 
                        'Total revenue',
                        'Sales of goods and services ( percent of total revenue)']
mb_revenue_tab1_3y = mb_revenue_tab1_3y[mb_tab1_left_col]

In [47]:
mb_tab2_left_col = ['North American Industry Classification System, NAICS - code', 'North American Industry Classification System, NAICS',
                        'Location indicator - code', 'Location indicator', 'Reference year', 
                        'Cost of sales (direct expenses) (%)', 
                        'Operating expenses (indirect expenses) (%)']
mb_revenue_tab2_3y = mb_revenue_tab2_3y[mb_tab2_left_col]

In [48]:
mb_tab3_left_col = ['North American Industry Classification System, NAICS - code', 'North American Industry Classification System, NAICS',
                        'Location indicator - code', 'Location indicator', 'Reference year', 
                        'Total expenses',
                        'Cost of sales (direct expenses)',
                        'Operating expenses (indirect expenses)',
                        'Net Profit/Loss']
mb_revenue_tab3_3y = mb_revenue_tab3_3y[mb_tab3_left_col]

In [49]:
mb_tab4_left_col = ['North American Industry Classification System, NAICS - code', 'North American Industry Classification System, NAICS',
                        'Location indicator - code', 'Location indicator', 'Reference year', 
                        'Total assets', 
                        'Total current assets', 
                        'Total liabilities', 
                        'Total current liabilities', 
                        'Total equity']
mb_revenue_tab4_3y = mb_revenue_tab4_3y[mb_tab4_left_col]

In [50]:
mb_tab5_left_col = ['North American Industry Classification System, NAICS - code', 'North American Industry Classification System, NAICS',
                        'Location indicator - code', 'Location indicator', 'Reference year', 
                        'Debt to equity ratio (times)', 
                        'Current debt to equity (%)', 
                        'Revenue to equity ratio (times)', 
                        'Net profit to equity (%)', 
                        'Gross margin (%)']
mb_revenue_tab5_3y = mb_revenue_tab5_3y[mb_tab5_left_col]

**Join the medium business tab1-tab5.**

In [51]:
a = pd.merge(mb_revenue_tab1_3y,mb_revenue_tab2_3y,how='inner',left_on=['North American Industry Classification System, NAICS - code', 'North American Industry Classification System, NAICS',
                        'Location indicator - code', 'Location indicator', 'Reference year'],right_on=['North American Industry Classification System, NAICS - code', 'North American Industry Classification System, NAICS',
                        'Location indicator - code', 'Location indicator', 'Reference year'])

In [52]:
b = pd.merge(a,mb_revenue_tab3_3y,how='inner',left_on=['North American Industry Classification System, NAICS - code', 'North American Industry Classification System, NAICS',
                        'Location indicator - code', 'Location indicator', 'Reference year'],right_on=['North American Industry Classification System, NAICS - code', 'North American Industry Classification System, NAICS',
                        'Location indicator - code', 'Location indicator', 'Reference year'])

In [53]:
c = pd.merge(b,mb_revenue_tab4_3y,how='inner',left_on=['North American Industry Classification System, NAICS - code', 'North American Industry Classification System, NAICS',
                        'Location indicator - code', 'Location indicator', 'Reference year'],right_on=['North American Industry Classification System, NAICS - code', 'North American Industry Classification System, NAICS',
                        'Location indicator - code', 'Location indicator', 'Reference year'])

In [54]:
final_table_mb = pd.merge(c,mb_revenue_tab5_3y,how='inner',left_on=['North American Industry Classification System, NAICS - code', 'North American Industry Classification System, NAICS',
                        'Location indicator - code', 'Location indicator', 'Reference year'],right_on=['North American Industry Classification System, NAICS - code', 'North American Industry Classification System, NAICS',
                        'Location indicator - code', 'Location indicator', 'Reference year'])

In [55]:
final_table_mb.head(5)

,"North American Industry Classification System, NAICS - code","North American Industry Classification System, NAICS",Location indicator - code,Location indicator,Reference year,Total number of businesses,Total revenue,Sales of goods and services ( percent of total revenue),Cost of sales (direct expenses) (%),Operating expenses (indirect expenses) (%),...,Total assets,Total current assets,Total liabilities,Total current liabilities,Total equity,Debt to equity ratio (times),Current debt to equity (%),Revenue to equity ratio (times),Net profit to equity (%),Gross margin (%)
0,0,All industries,1.0,Rural,2017.0,6901,9259.4,95.5,58.5,37.6,...,7255.4,3181.8,4064.8,2293.4,3190.6,1.3,71.9,2.9,11.4,38.7
1,0,All industries,2.0,Urban,2017.0,40390,9499.6,92.1,59.3,34.3,...,11645.7,4610.8,6135.9,3111,5509.8,1.1,56.5,1.7,11,35.6
2,11,"Agriculture, forestry, fishing and hunting",1.0,Rural,2017.0,1108,8615.9,93,18.2,92.6,...,10822.2,3764.2,6337.5,3141.1,4484.7,1.4,70,1.9,-20.7,80.5
3,11,"Agriculture, forestry, fishing and hunting",2.0,Urban,2017.0,835,8840.2,94.2,21.5,89.7,...,11223.4,3685.3,7437.1,3570.2,3786.3,2,94.3,2.3,-26.3,77.1
4,111,Crop production,1.0,Rural,2017.0,428,8132.5,89.9,8.7,100.5,...,12045.7,4228.1,6595.3,3110.9,5450.4,1.2,57.1,1.5,-13.7,90.3

#### 2.2 Small Businesses

In [56]:
sb_tab1_left_col = ['North American Industry Classification System, NAICS - code', 'North American Industry Classification System, NAICS',
                        'Geography - code', 'Geography','Location indicator - code', 'Location indicator', 'Incorporation status - code',
       'Incorporation status','Reference year', 
                        'Total number of businesses', 
                        'Total revenue',
                        'Sales of goods and services* ( percent of total revenue)']
sb_revenue_tab1_3y = sb_revenue_tab1_3y[sb_tab1_left_col]

In [57]:
sb_tab2_left_col = ['North American Industry Classification System, NAICS - code', 'North American Industry Classification System, NAICS',
                        'Geography - code', 'Geography','Location indicator - code', 'Location indicator', 'Incorporation status - code',
       'Incorporation status','Reference year', 
                        'Cost of sales (direct expenses) (%)', 
                        'Operating expenses (indirect expenses) (%)']
sb_revenue_tab2_3y = sb_revenue_tab2_3y[sb_tab2_left_col]

In [58]:
sb_tab3_left_col = ['North American Industry Classification System, NAICS - code', 'North American Industry Classification System, NAICS',
                        'Geography - code', 'Geography','Location indicator - code', 'Location indicator', 'Incorporation status - code',
       'Incorporation status','Reference year', 
                        'Total expenses',
                        'Cost of sales (direct expenses)', 
                        'Operating expenses (indirect expenses)',
                        'Net Profit/Loss']
sb_revenue_tab3_3y = sb_revenue_tab3_3y[sb_tab3_left_col]

In [59]:
sb_tab4_left_col = ['North American Industry Classification System, NAICS - code', 'North American Industry Classification System, NAICS',
                        'Geography - code', 'Geography','Location indicator - code', 'Location indicator', 'Incorporation status - code',
       'Incorporation status','Reference year', 
                        'Total assets', 
                        'Total current assets', 
                        'Total liabilities', 
                        'Total current liabilities', 
                        'Total equity']
sb_revenue_tab4_3y = sb_revenue_tab4_3y[sb_tab4_left_col]

In [60]:
sb_tab5a_left_col = ['North American Industry Classification System, NAICS - code', 'North American Industry Classification System, NAICS',
                        'Geography - code', 'Geography','Location indicator - code', 'Location indicator','Incorporation status - code',
       'Incorporation status', 'Reference year', 
                        'Debt to equity ratio (times)', 
                        'Current debt to equity (%)', 
                        'Revenue to equity ratio (times)', 
                        'Net profit to equity (%)']
sb_revenue_tab5a_3y = sb_revenue_tab5_3y[sb_tab5a_left_col]

In [61]:
sb_tab5b_left_col = ['North American Industry Classification System, NAICS - code', 'North American Industry Classification System, NAICS',
                        'Geography - code', 'Geography','Location indicator - code', 'Location indicator','Incorporation status - code',
       'Incorporation status', 'Reference year', 
                        'Gross margin (%)']
sb_revenue_tab5b_3y = sb_revenue_tab5_3y[sb_tab5b_left_col]

In [62]:
sb_tab6_left_col = ['North American Industry Classification System, NAICS - code', 'North American Industry Classification System, NAICS',
                        'Geography - code', 'Geography','Location indicator - code', 'Location indicator','Incorporation status - code',
       'Incorporation status', 'Reference year', 
                        'Gross margin (%)']
sb_revenue_tab6_3y = sb_revenue_tab6_3y[sb_tab6_left_col]

In [63]:
frames = [sb_revenue_tab5b_3y,sb_revenue_tab6_3y]
sb_revenue_tab6n_3y=pd.concat(frames)

In [64]:
sb_tab7_left_col = ['North American Industry Classification System, NAICS - code', 'North American Industry Classification System, NAICS',
                        'Geography - code', 'Geography','Location indicator - code', 'Location indicator','Incorporation status - code',
       'Incorporation status', 'Reference year', 
                        'Percent of profitable businesses']
sb_revenue_tab7_3y = sb_revenue_tab7_3y[sb_tab7_left_col]

**Join the small business tab1-tab7.**

In [65]:
a = pd.merge(sb_revenue_tab1_3y,sb_revenue_tab2_3y,how='inner',left_on=['North American Industry Classification System, NAICS - code', 'North American Industry Classification System, NAICS',
                        'Geography - code', 'Geography','Location indicator - code', 'Location indicator','Incorporation status - code',
       'Incorporation status', 'Reference year'],right_on=['North American Industry Classification System, NAICS - code', 'North American Industry Classification System, NAICS',
                        'Geography - code', 'Geography','Location indicator - code', 'Location indicator','Incorporation status - code',
       'Incorporation status', 'Reference year'])

In [66]:
b = pd.merge(a,sb_revenue_tab3_3y,how='inner',left_on=['North American Industry Classification System, NAICS - code', 'North American Industry Classification System, NAICS',
                        'Geography - code', 'Geography','Location indicator - code', 'Location indicator','Incorporation status - code',
       'Incorporation status', 'Reference year'],right_on=['North American Industry Classification System, NAICS - code', 'North American Industry Classification System, NAICS',
                        'Geography - code', 'Geography','Location indicator - code', 'Location indicator','Incorporation status - code',
       'Incorporation status', 'Reference year'])

In [67]:

c = pd.merge(b,sb_revenue_tab4_3y,how='left',left_on=['North American Industry Classification System, NAICS - code', 'North American Industry Classification System, NAICS',
                        'Geography - code', 'Geography','Location indicator - code', 'Location indicator','Incorporation status - code',
       'Incorporation status', 'Reference year'],right_on=['North American Industry Classification System, NAICS - code', 'North American Industry Classification System, NAICS',
                        'Geography - code', 'Geography','Location indicator - code', 'Location indicator','Incorporation status - code',
       'Incorporation status', 'Reference year'])

In [68]:
d = pd.merge(c,sb_revenue_tab5a_3y,how='left',left_on=['North American Industry Classification System, NAICS - code', 'North American Industry Classification System, NAICS',
                        'Geography - code', 'Geography','Location indicator - code', 'Location indicator','Incorporation status - code',
       'Incorporation status', 'Reference year'],right_on=['North American Industry Classification System, NAICS - code', 'North American Industry Classification System, NAICS',
                        'Geography - code', 'Geography','Location indicator - code', 'Location indicator','Incorporation status - code',
       'Incorporation status', 'Reference year'])

In [69]:
e = pd.merge(d,sb_revenue_tab6n_3y,how='left',left_on=['North American Industry Classification System, NAICS - code', 'North American Industry Classification System, NAICS',
                        'Geography - code', 'Geography','Location indicator - code', 'Location indicator','Incorporation status - code',
       'Incorporation status', 'Reference year'],right_on=['North American Industry Classification System, NAICS - code', 'North American Industry Classification System, NAICS',
                        'Geography - code', 'Geography','Location indicator - code', 'Location indicator','Incorporation status - code',
       'Incorporation status', 'Reference year'])

In [70]:
final_sb = pd.merge(e,sb_revenue_tab7_3y,how='left',left_on=['North American Industry Classification System, NAICS - code', 'North American Industry Classification System, NAICS',
                        'Geography - code', 'Geography','Location indicator - code', 'Location indicator','Incorporation status - code',
       'Incorporation status', 'Reference year'],right_on=['North American Industry Classification System, NAICS - code', 'North American Industry Classification System, NAICS',
                        'Geography - code', 'Geography','Location indicator - code', 'Location indicator','Incorporation status - code',
       'Incorporation status', 'Reference year'])

## Data Cleaning

### Let missing data = Nan

In [71]:
new_mb = final_table_mb.replace(regex=['X', '\.\.', '\.\.\.'], value=np.nan)

In [72]:
new_sb = final_sb.replace(regex=['X', '\.\.', '\.\.\.'], value=np.nan)

### Change data types

In [73]:
new_mb[["Total number of businesses","Total revenue", "Sales of goods and services ( percent of total revenue)","Cost of sales (direct expenses) (%)",
        "Operating expenses (indirect expenses) (%)","Total expenses", 'Cost of sales (direct expenses)','Operating expenses (indirect expenses)',
        "Net Profit/Loss","Total assets","Total current assets","Total liabilities",
        "Total current liabilities","Total equity","Debt to equity ratio (times)","Current debt to equity (%)","Revenue to equity ratio (times)",
        "Net profit to equity (%)","Gross margin (%)"]] = new_mb[["Total number of businesses","Total revenue", 
                                                                  "Sales of goods and services ( percent of total revenue)","Cost of sales (direct expenses) (%)",
                                                                  "Operating expenses (indirect expenses) (%)","Total expenses",'Cost of sales (direct expenses)',
                                                                  'Operating expenses (indirect expenses)',"Net Profit/Loss","Total assets",
                                                                  "Total current assets","Total liabilities","Total current liabilities","Total equity",
                                                                  "Debt to equity ratio (times)","Current debt to equity (%)","Revenue to equity ratio (times)",
                                                                  "Net profit to equity (%)","Gross margin (%)"]].apply(pd.to_numeric)

In [74]:
new_sb[['Total number of businesses',
       'Total revenue',
       'Sales of goods and services* ( percent of total revenue)',
       'Cost of sales (direct expenses) (%)',
       'Operating expenses (indirect expenses) (%)', 'Total expenses',
       'Cost of sales (direct expenses)',
       'Operating expenses (indirect expenses)','Net Profit/Loss', 'Total assets', 'Total current assets',
       'Total liabilities', 'Total current liabilities', 'Total equity',
       'Debt to equity ratio (times)', 'Current debt to equity (%)',
       'Revenue to equity ratio (times)', 'Net profit to equity (%)',
       'Gross margin (%)',
       'Percent of profitable businesses']] = new_sb[['Total number of businesses',
       'Total revenue',
       'Sales of goods and services* ( percent of total revenue)',
       'Cost of sales (direct expenses) (%)',
       'Operating expenses (indirect expenses) (%)', 'Total expenses',
       'Cost of sales (direct expenses)',
       'Operating expenses (indirect expenses)','Net Profit/Loss', 'Total assets', 'Total current assets',
       'Total liabilities', 'Total current liabilities', 'Total equity',
       'Debt to equity ratio (times)', 'Current debt to equity (%)',
       'Revenue to equity ratio (times)', 'Net profit to equity (%)',
       'Gross margin (%)',
       'Percent of profitable businesses']].apply(pd.to_numeric)

### Cut data in different industry level

#### 1. 3 digits industry level

In [75]:
new_mb_3dig_ind = new_mb.loc[(new_mb["North American Industry Classification System, NAICS - code"].str.len() == 3)]

In [76]:
new_sb_3dig_ind = new_sb.loc[(new_sb["North American Industry Classification System, NAICS - code"].str.len() == 3)]

#### 2. 2 digits industry level

In [77]:
new_mb_2dig_ind = new_mb.loc[(new_mb["North American Industry Classification System, NAICS - code"].str.len() == 2) |
                             (new_mb["North American Industry Classification System, NAICS - code"].str.contains('-'))]

In [78]:
new_sb_2dig_ind = new_sb.loc[(new_sb["North American Industry Classification System, NAICS - code"].str.len() == 2) |
                             (new_sb["North American Industry Classification System, NAICS - code"].str.contains('-'))]

#### 3. 1 and 2 digits industry level

In [79]:
new_mb_12dig_ind = new_mb.loc[(new_mb["North American Industry Classification System, NAICS - code"].str.len() != 3)]

In [80]:
new_sb_12dig_ind = new_sb.loc[(new_sb["North American Industry Classification System, NAICS - code"].str.len() != 3)]

## Output data

### Medium businesses

In [81]:
new_mb.to_csv("mb.csv")

In [82]:
new_mb_12dig_ind.to_csv("mb_12dig_ind.csv")

In [83]:
new_mb_2dig_ind.to_csv("mb_2dig_ind.csv")

In [84]:
new_mb_3dig_ind.to_csv("mb_3dig_ind.csv")

### Small businesses

In [85]:
new_sb.to_csv("sb.csv")

In [86]:
new_sb_12dig_ind.to_csv("sb_12dig_ind.csv")

In [87]:
new_sb_2dig_ind.to_csv("sb_2dig_ind.csv")

In [88]:
new_sb_3dig_ind.to_csv("sb_3dig_ind.csv")