In [1]:
import pandas as pd
import numpy as np
import altair as alt

In [2]:
def tab_reader(filepathpattern,tabnum,skiprow,low_memory=False):
    tabs = []
    for i in range (tabnum):
        cur_index = i+1
        cur_filepath = filepathpattern.format(cur_index)
        try:
            tab = pd.read_csv(cur_filepath, skiprows=skiprow, low_memory=False)
        except:
            tab = pd.read_csv(cur_filepath, skiprows=skiprow, encoding='latin-1', low_memory=low_memory)
        tabs.append(tab)
    return tabs

In [3]:
# 2017 data
rcbp_2017_mb_profitMargin_Tabs = tab_reader("../../../data/2017_csv_eng/2017_Medium businesses_Profit margin based_csv/_2017_Medium businesses_Profit margin_Tab{}.csv",5,5)
rcbp_2017_mb_revenue_Tabs = tab_reader("../../../data/2017_csv_eng/2017_Medium businesses_Total revenue based_csv/_2017_Eng_Medium_Revenue_Tab{}.csv",5,5)
rcbp_2017_sb_profitMargin_Tabs = tab_reader("../../../data/2017_csv_eng/2017_Small businesses_Profit margin based_csv/_2017_Small businesses_Profit margin based_Tab{}.csv",7,5)
rcbp_2017_sb_profitMargin_Tabs[0] = tab_reader("../../../data/2017_csv_eng/2017_Small businesses_Profit margin based_csv/_2017_Small businesses_Profit margin based_Tab{}.csv",1,6)[0]
rcbp_2017_sb_revenue_Tabs = tab_reader("../../../data/2017_csv_eng/2017_Small businesses_Total revenue based_csv/_2017_Small businesses_Total revenue based_Tab{}.csv",7,5)
rcbp_2017_sb_revenue_Tabs[0] = tab_reader("../../../data/2017_csv_eng/2017_Small businesses_Total revenue based_csv/_2017_Small businesses_Total revenue based_Tab{}.csv",1,6)[0]

In [4]:
# 2018 data
rcbp_2018_mb_profitMargin_Tabs = tab_reader("../../../data/2018_csv_eng/2018_Medium businesses_Profit margin based_csv/_2018_Medium businesses_Profit margin_Tab{}.csv",5,5)
rcbp_2018_mb_revenue_Tabs = tab_reader("../../../data/2018_csv_eng/2018_Medium businesses_Total revenue based_csv/_2018_Medium businesses_Total revenue_Tab{}.csv",5,5)
rcbp_2018_sb_profitMargin_Tabs = tab_reader("../../../data/2018_csv_eng/2018_Small businesses_Profit margin based_csv/_2018_Small businesses_Profit margin_Tab{}.csv",7,5)
rcbp_2018_sb_profitMargin_Tabs[0] = tab_reader("../../../data/2018_csv_eng/2018_Small businesses_Profit margin based_csv/_2018_Small businesses_Profit margin_Tab{}.csv",1,6)[0]
rcbp_2018_sb_revenue_Tabs = tab_reader("../../../data/2018_csv_eng/2018_Small businesses_Total revenue based_csv/_2018_Small businesses_Total revenue_Tab{}.csv",7,5)
rcbp_2018_sb_revenue_Tabs[0] = tab_reader("../../../data/2018_csv_eng/2018_Small businesses_Total revenue based_csv/_2018_Small businesses_Total revenue_Tab{}.csv",1,6)[0]

In [5]:
# 2019 data
rcbp_2019_mb_profitMargin_Tabs = tab_reader("../../../data/2019_csv_eng/2019_Medium businesses_Profit margin_csv/_2019_Medium businesses_Profit margin_Tab{}.csv",5,5)
rcbp_2019_mb_revenue_Tabs = tab_reader("../../../data/2019_csv_eng/2019_Medium businesses_Total revenue_csv/_2019_Medium businesses_Total revenue_Tab{}.csv",5,5)
rcbp_2019_sb_profitMargin_Tabs = tab_reader("../../../data/2019_csv_eng/2019_Small businesses_Profit margin_csv/_2019_Small businesses_Profit margin_Tab{}.csv",7,5)
rcbp_2019_sb_profitMargin_Tabs[0] = tab_reader("../../../data/2019_csv_eng/2019_Small businesses_Profit margin_csv/_2019_Small businesses_Profit margin_Tab{}.csv",1,6)[0]
rcbp_2019_sb_revenue_Tabs = tab_reader("../../../data/2019_csv_eng/2019_Small businesses_Total revenue_csv/_2019_Small businesses_Total revenue_Tab{}.csv",7,5)
rcbp_2019_sb_revenue_Tabs[0] = tab_reader("../../../data/2019_csv_eng/2019_Small businesses_Total revenue_csv/_2019_Small businesses_Total revenue_Tab{}.csv",1,6)[0]

### 1. Medium business Tab1 important variables

**'North American Industry Classification System, NAICS - code',**</br> 
**'North American Industry Classification System, NAICS',**

**'Location indicator - code',**--- 1 Rural, 2 Urban</br> 
**'Location indicator',**

'Incorporation status', --- Medium's are all incorporated

**'Reference year',**

**'Total number of businesses',**

**'Total revenue',** = Sales of goods and services + All other revenues</br> 

**'Sales of goods and services',**</br> 
**'Sales of goods and services, quality indicator',**
**'All other revenues',**</br> 
**'All other revenues,  quality indicator',**

**'Sales of goods and services ( percent of total revenue)',** = Sales of goods and services/Total revenue</br> 
**'Sales of goods and services ( percent of total revenue), quality indicator',**

**'All other revenues ( percent of total revenue)',** = All other revenues/Total revenue</br> 
**'All other revenues ( percent of total revenue), quality indicator',**

### 2. Small business Tab1 important variables

**'North American Industry Classification System, NAICS - code',**</br> 
**'North American Industry Classification System, NAICS',**

**'Geography - code',** </br>
**'Geography',** --- Canada and provinces and territories

**'Location indicator - code',**--- 1 Rural, 2 Urban</br> 
**'Location indicator',**

**'Incorporation status - code',**---1: Unincorporated, ---2: incorporated </br> 
**'Incorporation status',** --- 3: All businesses

**'Reference year',**

**'Total number of businesses',**

**'Total revenue',** = Sales of goods and services + All other revenues</br> 

**'Sales of goods and services\*',**</br> 
**'Sales of goods and services\*, quality indicator',**

**'All other revenues\*',**</br> 
**'All other revenues\*,  quality indicator',**

**'Sales of goods and services\* ( percent of total revenue)',** = Sales of goods and services/Total revenue</br> 
**'Sales of goods and services\* ( percent of total revenue), quality indicator',**

**'All other revenues\* ( percent of total revenue)',** = All other revenues/Total revenue</br> 
**'All other revenues\* ( percent of total revenue), quality indicator',**

### 3. Small business Tab7 important variables

**'North American Industry Classification System, NAICS - code',** </br>
**'North American Industry Classification System, NAICS',**
       
**'Geography - code',** </br>
**'Geography',** --- Canada and provinces and territories
       
**'Location indicator - code',**</br>
**'Location indicator',** --- 1 Rural or 2 Urban

'Incorporation status - code',</br>
'Incorporation status', --- 3: All businesses

**'Reference year',**

**'Percent of profitable businesses',**  

**'Profitable : Total Revenue',**- 'Profitable : Total Expenses' = 'Profitable : Net Profit'</br> 
**'Profitable : Total Revenue, quality indicator',**</br>

**'Profitable : Total Expenses',**</br>
**'Profitable : Total Expenses, quality indicator',**</br>

**'Profitable : Net Profit',**--- For profitable business</br> 
**'Profitable : Net Profit, quality indicator',**</br>

**'Non-profitable : Total Revenue',**- 'Non-profitable : Total expenses' = 'Non-profitable : Net loss'</br> 
**'Non-profitable : Total Revenue, quality indicator',**</br>

**'Non-profitable : Total expenses',**</br>
**'Non-profitable : Total expenses, quality indicator',**</br>

**'Non-profitable : Net loss',** --- For non-profitable business</br>
**'Non-profitable : Net loss, quality indicator',**</br>

## Data Cleaning

**Both for Medium and Small business Data**

### 1. Drop the first NAN row, drop quartile columns, select one and two digits industry code level and concat different years

In [6]:
# Drop the first NaN row, select industry code level, drop quartile columns and concat different years
def selectData(tabs):
    concatTabs = []
    for tab in tabs:
        tab = tab.drop(0)
        cols_without_quartile = [x for x in tab.columns if 'quartile' not in x.lower()]
        tab = tab[cols_without_quartile]
        tab = tab.loc[(tab["North American Industry Classification System, NAICS - code"].str.len() < 3) | (tab["North American Industry Classification System, NAICS - code"].str.contains('-'))]
        concatTabs.append(tab)
    return pd.concat(concatTabs)

In [7]:
## medium tab1 3year contain All industry(code=0)
mb_revenue_tab1_3y = selectData([rcbp_2017_mb_revenue_Tabs[0], rcbp_2018_mb_revenue_Tabs[0], rcbp_2019_mb_revenue_Tabs[0]]).reset_index(drop=True)
## small tab1 3year contain All industry
sb_revenue_tab1_3y = selectData([rcbp_2017_sb_revenue_Tabs[0], rcbp_2018_sb_revenue_Tabs[0], rcbp_2019_sb_revenue_Tabs[0]]).reset_index(drop=True)
## small tab7 3year contain All industry
sb_revenue_tab7_3y = selectData([rcbp_2017_sb_revenue_Tabs[6], rcbp_2018_sb_revenue_Tabs[6], rcbp_2019_sb_revenue_Tabs[6]]).reset_index(drop=True)

### 2. Change the suppressed data (X) and the small data (..) and (...) to be NA

In [9]:
mb_revenue_tab1_3y = mb_revenue_tab1_3y.replace(regex=['X', '\.\.', '\.\.\.'], value=np.nan)
sb_revenue_tab1_3y = sb_revenue_tab1_3y.replace(regex=['X', '\.\.', '\.\.\.'], value=np.nan)
sb_revenue_tab7_3y = sb_revenue_tab7_3y.replace(regex=['X', '\.\.', '\.\.\.'], value=np.nan)

In [10]:
sb_revenue_tab1_3y.head()

,ID,"North American Industry Classification System, NAICS - code","North American Industry Classification System, NAICS",Geography - code,Geography,Location indicator - code,Location indicator,Incorporation status - code,Incorporation status,Reference year,...,Sales of goods and services*,"Sales of goods and services* , quality indicator","Sales of goods and services* , percent of businesses reporting",All other revenues*,"All other revenues* , quality indicator","All other revenues* , percent of businesses reporting",Sales of goods and services* ( percent of total revenue),"Sales of goods and services* ( percent of total revenue), quality indicator",All other revenues* ( percent of total revenue),"All other revenues* ( percent of total revenue), quality indicator"
0,1.0,0,All industries,0.0,Canada,1.0,Rural,1.0,Unincorporated,2017.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,2.0,0,All industries,0.0,Canada,1.0,Rural,2.0,Incorporated,2017.0,...,575.8,A,91.6,46.2,B,53.6,92.6,A,7.4,B
2,3.0,0,All industries,0.0,Canada,1.0,Rural,3.0,All businesses,2017.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,4.0,0,All industries,0.0,Canada,2.0,Urban,1.0,Unincorporated,2017.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,5.0,0,All industries,0.0,Canada,2.0,Urban,2.0,Incorporated,2017.0,...,502,A,87.7,64.9,B,41.1,88.6,A,11.4,B

### 3. Drop irrelevant columns, Change data type, Rename 'Average revenue', Add 'Total revenue' column, Remove 3 regions, Remove small businesses variable name *, Change 'Nordwest' to 'Northwest'

#### 1. Medium businesses Tab1

In [11]:
mb_revenue_tab1_3y.columns

Index(['ID', 'North American Industry Classification System, NAICS - code',
       'North American Industry Classification System, NAICS',
       'Geography - code', 'Geography', 'Location indicator - code',
       'Location indicator', 'Incorporation status - code',
       'Incorporation status', 'Reference year', 'Total number of businesses',
       'All businesses, minimum revenue value',
       'All businesses, maximum revenue value', 'Total revenue',
       'Total revenue, quality indicator', 'Sales of goods and services',
       'Sales of goods and services, quality indicator',
       'Sales of goods and services, percent of businesses reporting',
       'All other revenues', 'All other revenues,  quality indicator',
       'All other revenues,  percent of businesses reporting',
       'Sales of goods and services ( percent of total revenue)',
       'Sales of goods and services ( percent of total revenue), quality indicator',
       'All other revenues ( percent of total revenue)',
       'All other revenues ( percent of total revenue), quality indicator'],
      dtype='object')

In [12]:
mb_tab1_drop_col = ['ID', 'North American Industry Classification System, NAICS - code', 'Geography - code', 'Geography', 
                    'Location indicator - code', 'Incorporation status - code', 'Incorporation status', 
                    'All businesses, minimum revenue value', 'All businesses, maximum revenue value', 
                    'Total revenue, quality indicator',
                    'Sales of goods and services, quality indicator', 'Sales of goods and services, percent of businesses reporting',
                    'All other revenues,  quality indicator', 'All other revenues,  percent of businesses reporting',
                    'Sales of goods and services ( percent of total revenue), quality indicator', 
                    'All other revenues ( percent of total revenue), quality indicator']

In [13]:
mb_revenue_tab1_3y = mb_revenue_tab1_3y.drop(columns = mb_tab1_drop_col, axis=1)

In [14]:
mb_revenue_tab1_3y.columns

Index(['North American Industry Classification System, NAICS',
       'Location indicator', 'Reference year', 'Total number of businesses',
       'Total revenue', 'Sales of goods and services', 'All other revenues',
       'Sales of goods and services ( percent of total revenue)',
       'All other revenues ( percent of total revenue)'],
      dtype='object')

In [15]:
mb_revenue_tab1_3y['Reference year'] = mb_revenue_tab1_3y['Reference year'].astype('string') 
mb_revenue_tab1_3y['Total number of businesses'] = mb_revenue_tab1_3y['Total number of businesses'].astype('int') 
mb_revenue_tab1_3y['Total revenue'] = mb_revenue_tab1_3y['Total revenue'].astype('float64') 
mb_revenue_tab1_3y['Sales of goods and services'] = mb_revenue_tab1_3y['Sales of goods and services'].astype('float64') 
mb_revenue_tab1_3y['All other revenues'] = mb_revenue_tab1_3y['All other revenues'].astype('float64') 
mb_revenue_tab1_3y['Sales of goods and services ( percent of total revenue)'] = mb_revenue_tab1_3y['Sales of goods and services ( percent of total revenue)'].astype('float64') 
mb_revenue_tab1_3y['All other revenues ( percent of total revenue)'] = mb_revenue_tab1_3y['All other revenues ( percent of total revenue)'].astype('float64')

mb_revenue_tab1_3y.dtypes

North American Industry Classification System, NAICS        object
Location indicator                                          object
Reference year                                              string
Total number of businesses                                   int64
Total revenue                                              float64
Sales of goods and services                                float64
All other revenues                                         float64
Sales of goods and services ( percent of total revenue)    float64
All other revenues ( percent of total revenue)             float64
dtype: object

In [16]:
mb_revenue_tab1_3y = mb_revenue_tab1_3y.rename(columns={'Total revenue':'Average revenue'})

In [17]:
mb_revenue_tab1_3y['Total revenue'] = mb_revenue_tab1_3y['Total number of businesses'] * mb_revenue_tab1_3y['Average revenue']

#### 2. Small businesses Tab1

In [18]:
sb_revenue_tab1_3y.columns

Index(['ID', 'North American Industry Classification System, NAICS - code',
       'North American Industry Classification System, NAICS',
       'Geography - code', 'Geography', 'Location indicator - code',
       'Location indicator', 'Incorporation status - code',
       'Incorporation status', 'Reference year', 'Total number of businesses',
       'All businesses, minimum revenue value',
       'All businesses, maximum revenue value', 'Total revenue',
       'Total revenue, quality indicator', 'Sales of goods and services*',
       'Sales of goods and services* , quality indicator',
       'Sales of goods and services*  , percent of businesses reporting',
       'All other revenues*', 'All other revenues* , quality indicator',
       'All other revenues* , percent of businesses reporting',
       'Sales of goods and services* ( percent of total revenue)',
       'Sales of goods and services* ( percent of total revenue), quality indicator',
       'All other revenues* ( percent of total revenue)',
       'All other revenues* ( percent of total revenue), quality indicator'],
      dtype='object')

In [19]:
sb_tab1_drop_col = ['ID', 'North American Industry Classification System, NAICS - code', 'Geography - code', 
                    'Location indicator - code', 'Incorporation status - code',
                    'All businesses, minimum revenue value', 'All businesses, maximum revenue value', 'Total revenue, quality indicator',
                    'Sales of goods and services* , quality indicator', 'Sales of goods and services*  , percent of businesses reporting',
                    'All other revenues* , quality indicator', 'All other revenues* , percent of businesses reporting',
                    'Sales of goods and services* ( percent of total revenue), quality indicator', 
                    'All other revenues* ( percent of total revenue), quality indicator']

In [20]:
sb_revenue_tab1_3y = sb_revenue_tab1_3y.drop(columns = sb_tab1_drop_col, axis=1)

In [21]:
sb_revenue_tab1_3y.dtypes

North American Industry Classification System, NAICS         object
Geography                                                    object
Location indicator                                           object
Incorporation status                                         object
Reference year                                              float64
Total number of businesses                                   object
Total revenue                                                object
Sales of goods and services*                                 object
All other revenues*                                          object
Sales of goods and services* ( percent of total revenue)     object
All other revenues* ( percent of total revenue)              object
dtype: object

In [22]:
sb_revenue_tab1_3y['Reference year'] = sb_revenue_tab1_3y['Reference year'].astype('string') 
sb_revenue_tab1_3y['Total number of businesses'] = sb_revenue_tab1_3y['Total number of businesses'].astype('float64') 
sb_revenue_tab1_3y['Total revenue'] = sb_revenue_tab1_3y['Total revenue'].astype('float64') 
sb_revenue_tab1_3y['Sales of goods and services*'] = sb_revenue_tab1_3y['Sales of goods and services*'].astype('float64') 
sb_revenue_tab1_3y['All other revenues*'] = sb_revenue_tab1_3y['All other revenues*'].astype('float64') 
sb_revenue_tab1_3y['Sales of goods and services* ( percent of total revenue)'] = sb_revenue_tab1_3y['Sales of goods and services* ( percent of total revenue)'].astype('float64')
sb_revenue_tab1_3y['All other revenues* ( percent of total revenue)'] = sb_revenue_tab1_3y['All other revenues* ( percent of total revenue)'].astype('float64') 

sb_revenue_tab1_3y.dtypes

North American Industry Classification System, NAICS         object
Geography                                                    object
Location indicator                                           object
Incorporation status                                         object
Reference year                                               string
Total number of businesses                                  float64
Total revenue                                               float64
Sales of goods and services*                                float64
All other revenues*                                         float64
Sales of goods and services* ( percent of total revenue)    float64
All other revenues* ( percent of total revenue)             float64
dtype: object

In [23]:
sb_revenue_tab1_3y = sb_revenue_tab1_3y.rename(columns={'Total revenue':'Average revenue',
                                                        'Sales of goods and services*':'Sales of goods and services',
                                                        'All other revenues*':'All other revenues',
                                                        'Sales of goods and services* ( percent of total revenue)':'Sales of goods and services ( percent of total revenue)',
                                                        'All other revenues* ( percent of total revenue)':'All other revenues ( percent of total revenue)'  
                                                       })

In [24]:
sb_revenue_tab1_3y['Total revenue'] = sb_revenue_tab1_3y['Total number of businesses'] * sb_revenue_tab1_3y['Average revenue']

In [25]:
rm_geo = list(['Altantic', 'Prairies', 'Territories'])
sb_revenue_tab1_3y = sb_revenue_tab1_3y.loc[~sb_revenue_tab1_3y.Geography.isin(rm_geo)]

In [26]:
sb_revenue_tab1_3y.loc[sb_revenue_tab1_3y.Geography=='Nordwest Territories','Geography'] = 'Northwest Territories'

#### 3. Small businesses Tab7

In [27]:
sb_revenue_tab7_3y.columns

Index(['ID', 'North American Industry Classification System, NAICS - code',
       'North American Industry Classification System, NAICS',
       'Geography - code', 'Geography', 'Location indicator - code',
       'Location indicator', 'Incorporation status - code',
       'Incorporation status', 'Reference year',
       'Percent of profitable businesses', 'Profitable : Total Revenue',
       'Profitable : Total Revenue, quality indicator',
       'Profitable : Total Expenses',
       'Profitable : Total Expenses, quality indicator',
       'Profitable : Net Profit', 'Profitable : Net Profit, quality indicator',
       'Non-profitable : Total Revenue',
       'Non-profitable : Total Revenue, quality indicator',
       'Non-profitable : Total expenses',
       'Non-profitable : Total expenses, quality indicator',
       'Non-profitable : Net loss',
       'Non-profitable : Net loss, quality indicator'],
      dtype='object')

In [28]:
sb_tab7_drop_col = ['ID', 'North American Industry Classification System, NAICS - code', 'Geography - code', 
                    'Location indicator - code', 'Incorporation status - code', 'Incorporation status', 
                    'Profitable : Total Revenue, quality indicator', 'Profitable : Total Expenses, quality indicator',
                    'Profitable : Net Profit, quality indicator', 'Non-profitable : Total Revenue, quality indicator',
                    'Non-profitable : Total expenses, quality indicator', 'Non-profitable : Net loss, quality indicator']

In [29]:
sb_revenue_tab7_3y = sb_revenue_tab7_3y.drop(columns = sb_tab7_drop_col, axis=1)

In [30]:
sb_revenue_tab7_3y.columns

Index(['North American Industry Classification System, NAICS', 'Geography',
       'Location indicator', 'Reference year',
       'Percent of profitable businesses', 'Profitable : Total Revenue',
       'Profitable : Total Expenses', 'Profitable : Net Profit',
       'Non-profitable : Total Revenue', 'Non-profitable : Total expenses',
       'Non-profitable : Net loss'],
      dtype='object')

In [31]:
sb_revenue_tab7_3y['Reference year'] = sb_revenue_tab7_3y['Reference year'].astype('string') 
sb_revenue_tab7_3y['Percent of profitable businesses'] = sb_revenue_tab7_3y['Percent of profitable businesses'].astype('float64') 
sb_revenue_tab7_3y['Profitable : Total Revenue'] = sb_revenue_tab7_3y['Profitable : Total Revenue'].astype('float64') 
sb_revenue_tab7_3y['Profitable : Total Expenses'] = sb_revenue_tab7_3y['Profitable : Total Expenses'].astype('float64') 
sb_revenue_tab7_3y['Profitable : Net Profit'] = sb_revenue_tab7_3y['Profitable : Net Profit'].astype('float64') 
sb_revenue_tab7_3y['Non-profitable : Total Revenue'] = sb_revenue_tab7_3y['Non-profitable : Total Revenue'].astype('float64') 
sb_revenue_tab7_3y['Non-profitable : Total expenses'] = sb_revenue_tab7_3y['Non-profitable : Total expenses'].astype('float64') 
sb_revenue_tab7_3y['Non-profitable : Net loss'] = sb_revenue_tab7_3y['Non-profitable : Net loss'].astype('float64') 

sb_revenue_tab7_3y.dtypes

North American Industry Classification System, NAICS     object
Geography                                                object
Location indicator                                       object
Reference year                                           string
Percent of profitable businesses                        float64
Profitable : Total Revenue                              float64
Profitable : Total Expenses                             float64
Profitable : Net Profit                                 float64
Non-profitable : Total Revenue                          float64
Non-profitable : Total expenses                         float64
Non-profitable : Net loss                               float64
dtype: object

In [32]:
sb_revenue_tab7_3y = sb_revenue_tab7_3y.loc[~sb_revenue_tab7_3y.Geography.isin(rm_geo)]

In [33]:
sb_revenue_tab7_3y.loc[sb_revenue_tab7_3y.Geography=='Nordwest Territories','Geography'] = 'Northwest Territories'

### 8. Output excels

In [34]:
mb_revenue_tab1_3y.to_excel("mb_revenue_tab1_3y.xlsx") # with NaN

In [35]:
sb_revenue_tab1_3y.to_excel("sb_revenue_tab1_3y.xlsx")

In [36]:
sb_revenue_tab7_3y.to_excel("sb_revenue_tab7_3y.xlsx")

In [37]:
mb_revenue_tab1_3y.shape

(114, 10)

In [38]:
sb_revenue_tab1_3y.shape

(4617, 12)

In [39]:
sb_revenue_tab1_3y[sb_revenue_tab1_3y['Reference year']==2017].shape

(0, 12)

In [40]:
sb_revenue_tab1_3y[sb_revenue_tab1_3y['Reference year']==2018].shape

(0, 12)

In [41]:
sb_revenue_tab1_3y[sb_revenue_tab1_3y['Reference year']==2019].shape

(0, 12)

In [42]:
sb_revenue_tab7_3y.shape

(1539, 11)